*{
	padding:0px;
	margin: 0px; 
}
body{
	font-family: monospace;
	display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
#linearGradient{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(to right, rgb(51, 0, 0), rgb(10, 10, 10));
	color: rgba(0,0,0,0.5);
	text-align: center;
	animation: back 2s 1;
}
h1{
	color: #6ab04c;
	font-family: monospace;
    font-weight: 600;
    font-size: 3em;
	padding-top: 0;
	width: 100%;
	z-index: 1;
	animation: text 2s 1;
}
.mainContainer{
	border: 1px solid #ffffff2e;
    border-radius: 8px;
    height: auto;
    max-width: 440px;
    padding: 2em;
	margin: 1em;
	color: #c5c5c5;
    background-color: #00000059;
}
.container{
	transform: translate(0%,-10%);
}
.container2{
	animation: cont 3s 1;
	text-align: left;
}
.text2{
	color: rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 3em;
	text-transform: uppercase;
	letter-spacing: .3em;
	padding-top: 2vh;
	width: 100%;
	animation: text2 3s 1;
}
h3{
	padding: 20px 0 0 0;
	font-weight: 900;
	font-size: 2em;
}
input{
    background: transparent;
    border: none;
    width: 4em;
    height: 4em;
    transition: 0.1s all;
}
input:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: #00000000;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px #ffffff5c;
}
#snippet {
    background: white;
    border-radius: 2px;
    width: 32em;
    height: 1em;
	font-family: monospace;
}
#snippet:hover{
	transform: scale(1);
    cursor: pointer;
    background: black;
    border-radius: 3px;
}
/* @keyframes text{
	0%{
		color: black;
		margin-bottom: -60px;
	}
	30%{
		letter-spacing: 1em;
		margin-bottom: -60px; 
	}
	85%{
		letter-spacing: 0.5em;
		margin-bottom: -60px;
	}
	
}
@keyframes text2{
	0%{
		opacity: 0
	}
	30%{
		opacity: 0
	}

}
@keyframes back{
	0%{
		background: black;
	}
	30%{
		background: black;
	}
	70%{
		background: black;
	}

}
@keyframes cont{
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
} */